/* Coolors Exported Palette - coolors.co/161925-23395b-85c7f2-406e8e-cbf7ed */

/* HSL */
$color1: hsla(228%, 25%, 12%, 1);
$color2: hsla(216%, 44%, 25%, 1);
$color3: hsla(204%, 81%, 74%, 1);
$color4: hsla(205%, 38%, 40%, 1);
$color5: hsla(166%, 73%, 88%, 1);

/* RGB */
$black: rgba(22, 25, 37, 1);
$darkBlue: rgba(35, 57, 91, 1);
$lightBlue: rgba(133, 199, 242, 1);
$blue: rgba(64, 110, 142, 1);
$light: rgba(203, 247, 237, 1);